body{
        background-color: #864879;


      }

  hr{
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: #E9A6A6;
    border-width: 5px;
    width: 50%;
  }
